body {
  font-family: 'Montserrat', sans-serif;
}

#header {
  position: fixed;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top: 50px;
  background-color: rgb(195, 226, 163);
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

#content {
  padding-left: 10%;
  width: 90%;
}

.intro {
  margin-top: 210px;
}

#homePage {
  border: none;
  margin-left: 40px;
}

form {
  text-align: center;
  border-radius: solid black 2px;
}

input {
  margin-left: 35%;
  max-width: 29%;
}

.pages {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  border-left: solid grey 1px;
  margin-right: 0px;
}

h1 {
  letter-spacing: 2px;
  margin-top: 0px;
  padding-top: 35px;
  padding-left: 20px;
  position: fixed;
  text-align: center;
  background-color: rgb(195, 226, 163);
  width: 100%;
  z-index: 1;
}
